<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="criarconta" appConnect="local" -->
<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-7 bg-dark"></div>
        <div class="col align-self-center">
            <div class="row justify-content-center align-items-center">
                <div class="col-8">
                    <h3>Criar conta</h3>
                    <p>Você está muito perto de dar seu próximo passo e profissionalizar ainda mais sua operação!</p>
                    <form id="formcriarconta">
                        <div class="form-group mb-3"> <label for="input1" class="form-label">Some text</label>
                            <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                            <small id="input1_help" class="form-text text-muted">Your input is very valuable.</small>
                        </div>
                    </form>
                    <a href="/" internal="true" class="text-decoration-none text-secondary">Voltar para login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="ac:route" content="/f/security/criar-conta">